<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Home</h1>
    <a href="{% url 'contact' %}">click to go to contact</a>
    <p>this is home</p>
    <img src="{%static 'images/movie1.jpg' %}" alt="">

    <button onclick="clickMe()">Click me!</button>

    <br>

    <h1>Forms!</h1>
    <form action="{% url 'result' %}">
        {% csrf_token %}
        <input type="text" name="user_input">
        <input type="submit" value="Click Me">
    </form>
    <a href="{% url 'result' %}">Go to results</a>


    <script src="{% static 'main.js'%}"></script>
</body>
</html>